.block-bean-rijkshuisstijl-slider {
  height: 324px;
  margin: 0 20px 1em 0;
  overflow: auto;
}

.block-bean-rijkshuisstijl-slider .controls {
  bottom: 0;
  display: none;
  left: 20px;
  margin-bottom: 0;
  position: absolute;
  z-index: 10;
}

.block-bean-rijkshuisstijl-slider .controls-item {
  background: #fff;
  border: 1px solid #fff;
  float: left;
  margin-bottom: 0;
  margin-left: 5px;
  padding: 5px;
}

.block-bean-rijkshuisstijl-slider .controls-item-play span {
  background: url("images/icons.png") 13px 13px no-repeat;
  display: block;
  height: 14px;
  margin: 0;
  text-indent: -10000px;
  width: 14px;
}

.block-bean-rijkshuisstijl-slider .controls-item-play .pause span {
  background-position: -288px -72px;
}

.block-bean-rijkshuisstijl-slider .controls-item-play .play span {
  background-position: -264px -72px;
}

.block-bean-rijkshuisstijl-slider .field-collection-container,
.block-bean-rijkshuisstijl-slider .field-collection-view {
  border: none;
  margin: 0;
  padding: 0;
}

.block-bean-rijkshuisstijl-slider .field-collection-container .action-links,
.block-bean-rijkshuisstijl-slider .field-collection-view-links {
  display: none;
}

.block-bean-rijkshuisstijl-slider .field-name-field-rhs-slider-slide .content {
  color: #fff;
  height: 324px;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
}

.block-bean-rijkshuisstijl-slider .field-name-field-rhs-slider-slide .content img {
  margin-bottom: 0;
}

.block-bean-rijkshuisstijl-slider .field-name-field-rhs-slider-slide .content .content-inner {
  background: url('images/bg.png') no-repeat right top;
  height: 324px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.block-bean-rijkshuisstijl-slider .field-name-field-rhs-slider-slide .field-items .field-item {
  margin-bottom: 0;
}

.block-bean-rijkshuisstijl-slider .field-name-field-rhs-slider-slide-body .field-items {
  padding: 10px 20px 0;
}

.block-bean-rijkshuisstijl-slider .field-name-field-rhs-slider-slide-body .field-items a {
  color: white;
}

.block-bean-rijkshuisstijl-slider .field-name-field-rhs-slider-slide-body .field-items a:hover {
  color: gainsBoro;
}

.block-bean-rijkshuisstijl-slider .field-name-field-rhs-slider-slide-title .field-items {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  padding: 30px 20px 0;
}

.block-bean-rijkshuisstijl-slider .tabs {
  bottom: 0;
  display: none;
  margin-bottom: 0;
  position: absolute;
  right: 5px;
  z-index: 10;
}

.block-bean-rijkshuisstijl-slider .tabs-item {
  background-image: none;
  float: left;
  margin-bottom: 0;
  margin-left: 5px;
  padding: 5px 0;
}

.block-bean-rijkshuisstijl-slider .tabs .tabs-item a {
  color: black;
  padding: 7px 8px;
}

.block-bean-rijkshuisstijl-slider .tabs .tabs-item a:hover {
  text-decoration: none;
}

.block-bean-rijkshuisstijl-slider .tabs .tabs-item.current {
  background-color: white;
  border-color: white;
}

.block-bean-rijkshuisstijl-slider-processed {
  background: #222;
  height: 324px;
  overflow: hidden;
  position: relative;
}

.block-bean-rijkshuisstijl-slider-processed .controls,
.block-bean-rijkshuisstijl-slider-processed .tabs {
  display: block;
}
